@model CIS174_TestCoreApp.Models.Achievements

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Achievements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FamousPeopleId" class="control-label"></label>
                <input asp-for="FamousPeopleId" class="form-control" />
                <span asp-validation-for="FamousPeopleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doa" class="control-label"></label>
                <input asp-for="doa" class="form-control" />
                <span asp-validation-for="doa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

