@model CIS174_TestCoreApp.Models.Student

@{
    ViewData["Title"] = "You do not have a sufficient access level to view this data.";
}
    <h2>You do not have a sufficient access level to view this data.</h2>
<h3>@ViewData["You do not have a sufficient access level to view this data."]</h3>

